@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to inventory management</h1>
    <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Product"> Manage Products</a>
</div>
