@{
    ViewData["Title"] = "Home ";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hello, Welcome!</h1>
        <p class="lead">This is a simple implementation of product management dashboard. It uses ASP.NET Core MVC, SQLite and EFCore for implementation.</p>
        <a class="btn btn-primary btn-lg" asp-action="Index" asp-controller="Product" role="button">Go to Dashboard</a>
    </div>
</div>